@model BaiGiuXeTuDong_KhoaLuanTotNghiep.Models.ThanhToan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<h2>Bạn đã thanh toán thành công số tiền: @Html.DisplayFor(model => model.SoTien) VND</h2>

